.posts{
    width: 95%;
    max-width: 1080px;
    margin: 2rem auto;

    .post_header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #ddd;
        margin-bottom: 1rem;

        .post_header_item {
            color: #999;
            display: flex;
            align-items: center;
            padding: .5rem 1.5rem;
            border-top: 1px solid #ccc;
            margin-top: -1px;
            

            
            &.active {
                color: #222;
                border-top: 1px solid #000;
            }

            .icon{
                margin-right: 0.5rem;
                display: flex;
                svg{
                   width: 15px;
                   height: 15px;
                }
            }
            .label{
                text-transform: uppercase;


                @media screen and (max-width: 700px) { 
                    display: none;
                }
            }
        } 
        
    }

    .posts_items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1.5rem;
        min-height: 100vh;
        max-width: 1080px;
        margin: 0 auto;

        @media screen and (max-width: 700px) { 
            grid-gap: 0.5rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 380px) { 
            grid-template-columns: repeat(1, 1fr);
        }

        .post{
            position: relative;

            .icons{
                position: absolute;
                display: flex;
                top: .5rem;
                right: .5rem;
                padding: .5rem

                
            }
            .photo{
                display: flex;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

}